<!doctype html><html xmlns=http://www.w3.org/1999/xhtml xml:lang=en-US lang=en-us prefix="og: http://ogp.me/ns#">
<head>
<meta charset=utf-8>
<title>Congrats! U R WINNER</title>
</head>
<body>
<div>
<p>Greetings, %s !</p>
<span>According to our records, you are the proud winner of %s fake e-hugs!</span>
<h1>Congratulations!</h1>
</div>
</body>
</html>
